/* font import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* base styles */
body {
    font-family: 'Kumbh Sans', sans-serif
}

/* footer */

footer {
    position: relvetive;
}

.attribution { 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}