/* font import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variables */
html {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-grey-blue: hsl(227, 10%, 46%);
    --dark-grey: hsl(0, 0%, 59%);
}

/* base styles */
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: var(--dark-cyan);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* card */
.card {
    width: 350px;
    background-color: #fff;
    margin: 300px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.card-img{
    margin-top: -50px;
    
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 50%;
}

.card-main {
    text-align: center;
    padding: 20px 0;
}

.card h1 {
    color: var(--dark-blue);
    font-size: 1.6rem;
}

.card p, .card span {
    color: var(--dark-grey);
}

.card p {
    margin: 10px 0;
}

.card-stats{
    border-top: 1px solid var(--dark-grey);
    padding: 30px;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}

/* footer */

footer {
    position: relvetive;
}

.attribution { 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}